<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - UserRegistration</title>

    <link rel="stylesheet" href="~/css/vendor.min.css" asp-append-version="true" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2017 - UserRegistration</p>
    </footer>

    <script src="~/js/vendor.min.js" asp-append-version="true"></script>

    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
