@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" novalidate="" method="POST">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control form-control-lg rounded-0" required="">
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control form-control-lg rounded-0">
                                    <div class="invalid-feedback">Enter your password too!</div>
                                </div>

                                <div class="form-check">
                                    <input asp-for="RememberMe" class="form-check-input">
                                    <label asp-for="RememberMe" class="form-check-label small text-dark"></label>
                                </div>

                                <button type="submit" class="btn btn-success btn-lg float-right">Login</button>

                                <div class="form-group">
                                    <p>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
